.yarn/
Pods/
docs/.docusaurus/
docs/build/
lib/
node_modules/
vendor/
.gradle/

*.lottie.json

example/android/build/
example/android/app/build/
example/ios/build/
example/src/assets/lottie/*.json

android/build/
android/.cxx/
